.cls-1 {
    fill: #0070ff;
}

.cls-2 {
    fill: #788de7;
    opacity: 0.5;
}

.cls-3 {
    fill: #322DCD;
    stroke: #fff;
    stroke-width: 6px;
}

.cls-4, .cls-5 {
    fill: #fff;
}

.cls-4 {
    stroke: #322DCD;
    stroke-width: 2px;
}