/* BUTTON */
.btn {
    font-weight: 500;
    background-color: #fff;
    border: solid 2px #1540C4;
    border-radius: 0px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
}
.btn:hover {
    color: #fff;
    background-color: #1540C4;
}

/* TOOLTIP */
.tooltip {
    min-width: 310px;
    max-width: 380px;
}
.tooltip .col-right {
    width: 115px;
}
.tooltip .col-left {
    width: calc(100% - 115px);
}