/* BUTTON */
#buttons-motivations {
    padding-left: 14.375%;
    padding-right: 2px;
}
#buttons-motivations .btn {
    width: 100%;
}
.btn {
    font-weight: 500;
    background-color: #fff;
    border: solid 2px #1540C4;
    border-radius: 0px;
    /* box-shadow: 2px 2px 6px rgb(0 0 0 / 50%); */
}
.btn.active, .btn:hover {
    color: #fff;
    background-color: #1540C4;
}
#btn-income {
    border-right: none;
    border-left: none;
}

/* LABELS */
.chart-labels {
    display: none;
}
.chart-labels:hover {
    cursor: default;
}
#viz-motivations text {
    font-size: 1.4em;
    fill: #1540C4;
}

/* TOOLTIP */
.tooltip {
    min-width: 310px;
    max-width: 380px;
}
.tooltip .col-right {
    width: 115px;
}
.tooltip .col-left {
    width: calc(100% - 115px);
}
.tooltip-side {
    position: absolute;
    max-width: 325px;
    color: #1540C4;
    background-color: #fff;
    border: solid 2px #1540C4;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
}
.tooltip-side p {
    font-size: 0.8em;
}
.tooltip-side .label-group {
    display: inline-block;
    background-color: #1540C4;
}