#frame-origins, #frame-pre1960 {
    width: 80%;
    left: 10%;
}
#frame-origins {
    margin-bottom: 45vh;
}

/* TOOLTIP */
/* timeline tooltip */
#tt-timeline {
    top: calc(50vh - 4px);
    max-height: 0px;
    z-index: 1;
    pointer-events: none;
}
/* events tooltip */
.event-img {
    background: rgba(201, 31, 99, 0.7);
}
#tt-event .event-img img {
    filter: grayscale(1);
    -webkit-mix-blend-mode: hard-light;
    -moz-mix-blend-mode: hard-light;
    -ms-mix-blend-mode: hard-light;
    -o-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
}
#tt-event .event-title,
#tt-event .event-descr {
    background: rgba(255, 255, 255, 0.4);
}
/* migrant counter tooltip */
#tt-year, #tt-migrants {
    background-color: rgba(255, 255, 255, 0.6);
}
#tt-year {
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#tt-year::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: calc(45vw - 120px);
    top: calc(2rem - 1px);
    left: calc(100% + 1rem);
    background-color: #000;
    pointer-events: none;
}
#tt-migrants {
    /* top: calc(50vh + 2rem); */
    width: 330px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#tt-migrants div {
    border-top: solid 1px #777;
}
#tt-migrants p {
    margin-bottom: 0;
}
#tt-migrants .text-label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
}
#tt-migrants .text-sublabel, #tt-event .event-date {
    font-size: 0.7rem;
}
#label-gtm {
    color: #d11f63;
}
#label-hnd {
    color: #eb4927;
}
#label-slv {
    color: #ea8928;
}
#label-gtm.highlight {
    color: #fff;
    background-color: #d11f63;
}
#label-hnd.highlight {
    color: #fff;
    background-color: #eb4927;
}
#label-slv.highlight {
    color: #fff;
    background-color: #ea8928;
}

/* LABELS */

/* MODALS */
.modal-backdrop {
    background-color: #eb4927;
}

/* RESPONSIVE SIZES */
.label-yearspan, .label-total {
    display: inline-block;
}
.text-sublabel, 
#label-gtm, #label-hnd, #label-slv {
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .label-yearspan, .label-total, .text-sublabel, 
    #label-gtm, #label-hnd, #label-slv {
        display: block;
    }
    #tt-migrants {
        width: 300px;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}