/* SCROLLYTELLING */
#map-state-10 {
    padding-bottom: 0px;
}
.scrolly-container-outcomes .ribbon-image img {
    filter: grayscale(1);
    -webkit-mix-blend-mode: hard-light;
    -moz-mix-blend-mode: hard-light;
    -ms-mix-blend-mode: hard-light;
    -o-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
}

/* SVG ANIMATION */
#svg-outcomes {
    max-height: 100%;
}
.step#scene-0 {
    padding-bottom: 250vh;
}
.step#scene-1 {
    padding-bottom: 125vh;
}
#g-reside,
#g-return, 
#g-return-vol-inv {
    display: none;
}
#_1-reside-us.inactive .ribbon, 
#_2-reside-other.inactive .ribbon,
#_3-return-dest.inactive .ribbon, 
#_4-return-other.inactive .ribbon,
#_34-return-vol-inv.inactive .ribbon {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}