/* SCROLLYTELLING */
#map-state-10 {
    padding-bottom: 0px;
}

.scrolly-container-outcomes .ribbon-image img {
    filter: grayscale(1);
    -webkit-mix-blend-mode: hard-light;
    -moz-mix-blend-mode: hard-light;
    -ms-mix-blend-mode: hard-light;
    -o-mix-blend-mode: hard-light;
    mix-blend-mode: hard-light;
}

/* SVG ANIMATION */
#g-reside,
#g-return, 
#g-return-vol-inv {
    display: none;
}

/* TEMPORARY DISPLAY FOR DRAFT */
.mask {
    display: none;
}
#mask-1, #mask-2 {
    display: block;
}
#g-return, #g-return-vol-inv {
    display: block;
}