.cls-1 {
    fill: #e6e6e6;
}

.cls-2 {
    fill: #e23cad;
}

.cls-22, .cls-3 {
    fill: #4d4d4d;
}

.cls-4 {
    fill: #54493e;
}

.cls-5 {
    fill: #fff;
}

.cls-6 {
    fill: #b628bb;
}

.cls-7 {
    fill: #e2a9e4;
}

.cls-8 {
    fill: #711e57;
}

.cls-20, .cls-21, .cls-29, .cls-9 {
    fill: none;
}

.cls-20, .cls-21, .cls-9 {
    stroke: #4d4d4d;
}

.cls-29, .cls-9 {
    stroke-miterlimit: 10;
}

.cls-9 {
    stroke-width: 2px;
}

.cls-10 {
    fill: #ccc;
}

.cls-11 {
    fill: #1540c4;
}

.cls-12 {
    fill: #0b2062;
}

.cls-13 {
    fill: #3ba7c9;
}

.cls-14 {
    fill: #1e5465;
}

.cls-15 {
    fill: #fcd28a;
}

.cls-16 {
    fill: #eebe8e;
}

.cls-17 {
    fill: #fab43c;
}

.cls-18 {
    fill: #e39342;
}

.cls-19 {
    fill: #724a21;
}

.cls-20, .cls-21 {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-21 {
    stroke-dasharray: 0 4;
}

.cls-22 {
    font-size: 28px;
    font-family: NHaasGroteskDSPro-75Bd, Neue Haas Grotesk Display Pro;
}

.cls-23 {
    letter-spacing: 0.01em;
}

.cls-24 {
    letter-spacing: -0.01em;
}

.cls-25 {
    letter-spacing: -0.01em;
}

.cls-26 {
    font-size: 20px;
    font-family: NHaasGroteskDSPro-55Rg, Neue Haas Grotesk Display Pro;
}

.cls-27 {
    letter-spacing: 0em;
}

.cls-28 {
    letter-spacing: -0.01em;
}

.cls-29 {
    stroke: #fcf9f0;
    stroke-width: 3px;
}