@font-face {
    font-family: fa;
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

a, a:visited, a:active {
  color: #fff;
}

/* 
.container {
  max-width: 1600px;
  margin: auto;
}
 */

.button {
	width: 100%;
    font-weight: 500;
   	color: teal;
    background-color: #fff;
    border: solid 2px teal;
    border-radius: 0px;
    /* box-shadow: 2px 2px 6px rgb(0 0 0 / 50%); */
}

.button.active {
  background: teal;
  color: #fff;
}


/* 
#vis {
  width: 1600px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}
 */

#toolbar {
  margin-top: 0px;
  margin-bottom: 100px;
}

.year {
  font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
}

.group {
 font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
}

.name {
font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1em;
    background: #fff;
}

    #mapdiv1{
          position: -webkit-sticky;
          position: sticky;
          top: -1px;
          padding: 00px;
          transition: opacity 0.8s;
         -webkit-transition: opacity 0.8s;
        }

.deactive {
              opacity:0;
          }

.profiles2-img {
    z-index: -1;
    background-image: url("../img/cost/IMG-20210422-WA0010.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    height: var(--background-image-height);
    /* filter: var(--blur-off);   */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);
}

/* .tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
} */
.tooltip {
    min-width: 250px;
}
.tooltip .label-country {
    line-height: 2em;
}
.tooltip .label-pathway {
    font-weight: 600;
    font-size: 1em;
}

.footer {
  text-align: center;
}

svg text {
	font-family: neue-haas-grotesk-text, sans-serif;
	color: #fff;
	font-size: 18px;
	dominant-baseline: central; /*vertically centers text on position*/
	text-anchor: middle; /*horizontally centers text on position*/
}

.step1 {
    padding-bottom: 0vh;
    opacity: 1;
    transition: 0.5s;
}

.content-block1 {
    position: relative;
    /* for Safari */
    position: relative;
    top: 0;
    align-self: flex-start;
    width: var(--open);
    pointer-events: none;
    top: 0px;
    height: auto;
    filter: var(--filters-off);
    transition: var(--transition-speed);
    /* border: 3px solid red; */
}

.content-block1 * {
    pointer-events: auto;
}
