/* LOAD FONTS */

@font-face {
    font-family: fa;
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}


/* GLOBAL CUSTOM VARIABLES */
:root {
    --gradeient-falloff: 70%;
    --start-padding: 10px;
    --transition-speed: 1s ease-in-out;
    --open: 85vw;
    --closed: 2vw;
    --partial-open: 35vw;
    --partial-closed: 35vw;
    --blur-on: grayscale(1) blur(10px);
    --blur-off: grayscale(1) blur(0px);
    --filters-off: grayscale(0) blur(0px);
    --background-image-height: 100vh;
}

/*GENERAL HTML */
html {
    /* scroll-behavior: smooth; */
}

/* SCROLLBAR */
::-webkit-scrollbar {
    display: none;
}

/* TEXT STYLES */

body {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9.5em;
    line-height: 1em;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5em;
}

h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    color: black;
}


.text-orange {
    color: #EB4927;
}

.text-blue {
    color: #1540C4;
}

.text-teal {
    color: #3BA7C9;
}

.text-pink {
    color: #E23CAD;
}

.text-purple {
    color: #662D91;
}

.text-white {
    color: #fff;
}


.text-black {
    color: #000;
}

/* ADDED THESE BECAUSE THE OTHERS HAVE SOME !iMPORTANT THING HAPPENING ON LOAD? */
.white {
    color: white;
}

.black {
    color: black;
}

.handwriting {
    font-family: 'Caveat', cursive;
}

/* NEW LAYOUT STYLE */

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    transition: var(--transition-speed);
    /* border: 5px solid red; */
    /* overflow-y: hidden; */
    overflow-y: auto;
}

#wrapper>* {
    flex: 1 1 var(--closed);
    /* width: var(--closed); */
    transition: flex var(--transition-speed);
    border-left: 2px solid white;
    border-left: 2px solid white;
}

#wrapper>section:hover {
    flex: 0 0 var(--partial-closed);
    transition: flex var(--transition-speed);
}


#wrapper>#open {
    /* flex-grow: 3; */
    flex: 0 0 var(--open);
    /* transition: var(--transition-speed); */
    filter: var(--filters-off);
}

#wrapper>#partial-open {
    /* flex-grow: 3; */
    flex: 0 0 var(--partial-open);
    /* transition: var(--transition-speed); */
    /* filter: var(--filters-off); */
}


#wrapper>#open:hover {
    flex: 0 0 var(--open);
    transition: var(--transition-speed);

}

#wrapper>#closed>* {
    transition: filter var(--transition-speed);
    filter: var(--blur-on);
}

#wrapper>#closed:hover>* {
    transition: var(--transition-speed);
    filter: var(--filters-off);
}

#wrapper>#open>* {}

/* DECORATION, COLOR, CASE */
.chapter {
    position: -webkit-sticky;    /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
    -webkit-transform: translateZ(0);
    overflow-x: hidden;
    /* overflow-y: auto; */
    height: 100vh;
    /* top: 0; */
}

.chapter#closed{
    overflow: hidden;
}


.chapter-title {
    color: rgba(255, 255, 255, 0);
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    text-transform: uppercase;
    pointer-events: none;
    transition: color var(--transition-speed);
}


.chapter#partial-open .chapter-title {
    color: white;
}

.chapter#closed .chapter-title {
    position: relative;
    width: var(--partial-open);
    height: 100%;
}

.chapter#open .chapter-title {
    width: var(--partial-open);
}

.chapter#partial-open .chapter-title {
    width: var(--partial-open);
}

.chapter#closed .chapter-title {
    width: var(--partial-closed);
    color: rgba(255, 255, 255, 0);
}

.chapter#closed:hover .chapter-title {
    color: white;
}


section:hover .chapter {
    height: auto;
}



section#open:hover .chapter-title {
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    transition: var(--transition-speed);
    width: var(--open);
}

.chapter-summary {
    color: white;
    width: var(--open);
    height: 100vh;
    pointer-events: none;
    padding: var(--start-padding);
    text-transform: uppercase;
    transition: var(--transition-speed);
}


.chapter#partial-open .chapter-summary {
    color: rgba(0, 0, 0, 0);
    transition: var(--transition-speed);
}



.content-block {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: var(--open);
    pointer-events: none;
    top: 0;
    height: auto;
    filter: var(--filters-off);
    transition: var(--transition-speed);
    /* border: 3px solid red; */
}

.content-block *{
    pointer-events: auto;
}

.chapter#partial-open .content-block {
    filter: var(--blur-on);
}

.solid-white {
    background: white;
    pointer-events: auto;
}

/* BACKGROUND IMAGES */
.bk {
    height: 100vh;
    width: var(--open);
}

.about-img::before {
    z-index: -1;
    background-image: url("../img/Headers/about.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    ;
    height: var(--background-image-height);
    /* filter: var(--blur-off);    */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);
}

.origins-img::before {
    z-index: -1;
    background-image: url("../img/Headers/origins.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    ;
    height: var(--background-image-height);
    /* filter: var(--blur-off);   */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);
}

.motivations-img::before {
    z-index: -1;
    background-image: url("../img/Headers/motivations.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    ;
    height: var(--background-image-height);
    /* filter: var(--blur-off);   */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);
}

.profiles-img::before {
    z-index: -1;
    background-image: url("../img/Headers/profiles.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    ;
    height: var(--background-image-height);
    /* filter: var(--blur-off);   */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);
}

.outcomes-img::before {
    z-index: -1;
    background-image: url("../img/Headers/outcomes.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    ;
    height: var(--background-image-height);
    /* filter: var(--blur-off);   */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);
}

.cost-img::before {
    z-index: -1;
    background-image: url("../img/Headers/cost.jpg");
    content: '';
    position: absolute;
    width: var(--open);
    ;
    height: var(--background-image-height);
    /* filter: var(--blur-off);   */
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255, 255, 255, 0);

}

/* BACKGROUND GRADIENTS */

.gradient {
    width: var(--open);
    height: 100vh;
    backdrop-filter: var(--blur-off);
    pointer-events: none;
    transition: var(--transition-speed);
}

.chapter:hover .gradient {
    backdrop-filter: var(--blur-off);
}

#open .about-g,
#closed:hover .about-g {
    background: rgba(0, 0, 0, 0);

}

#open .origins-g,
#closed:hover .origins-g {
    background: #eb48279f;
}

#open .motivations-g,
#closed:hover .motivations-g {
    background: #1541c469;
}

#open .profiles-g,
#closed:hover .profiles-g {
    background: #3ba8c977;
}


#open .outcomes-g,
#closed:hover .outcomes-g {
    background: #e23cad80;

}

#open .cost-g,
#closed:hover .cost-g {
    background: #662d9183;
}

/* BUTTONS */
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 0%);
}

/* TOOLTIPS */
.template {
    display: none;
}

.tooltip {
    position: absolute;
    margin: 0;
    padding: 10px 10px 10px 20px;
    background: #fff;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
    opacity: 1;
}

.side-color {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ccc;
    height: 100%;
    width: 10px;
}

.tooltip h3 {
    margin-bottom: 0;
    font-weight: 700;
}

.tooltip p {
    margin-bottom: 0;
    font-size: 0.7rem;
}

.tooltip .text-label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
}

/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
.outcomes-map-theme {
    color: #fafafa;
    background-color: rgb(224, 135, 220);

}

.motivations-map-theme {
    color: #fafafa;
    background-color: rgb(135, 156, 224);
}


.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 45vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.step {
    padding-bottom: 50vh;
    opacity: 0;
    transition: 0.5s;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

#map {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start;
    /* border: 3px solid red; */
    /* bottom: 0; */
    width: var(--open);
    height: 100vh;
    z-index: -2;
    /* transition: 1s; */
    pointer-events: auto;
}

#story {
    margin-bottom: 125vh;
    /* background: tomato; */
    /* overflow: visible; */
   /* border: 3px solid tomato; */
}