/* LOAD FONTS */

@font-face {
    font-family: fa;
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}

/*GENERAL HTML */
html{
    scroll-behavior: smooth;
}

/* SCROLLBAR */



::-webkit-scrollbar {
    /* width: 0.75em; */
    display: none;
}

/* Handle */
/*
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
/*
::-webkit-scrollbar-thumb:hover {
background: #555;
}

/* TEXT STYLES */

body {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9.5em;
    text-align: right;
    line-height: 1em;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5em;
    text-align: right;
}

.handwriting {
    font-family: 'Caveat', cursive;
}

/* DECORATION, COLOR, CASE */
.upper {
    text-transform: uppercase;
}

.white {
    color: rgba(255, 255, 255,1);
}

.blend {
    mix-blend-mode: difference;
    
}

/* LANDING STYLES */
.splash-screen-img {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: -1;
    mix-blend-mode: multiply;
    transition: 1s;
}


/* PAGES */
main {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

/* ABOUT LANDING */
.about {
    position: absolute;
    display: inline-block;
    width: 10%;
    height: auto;
}

.about-landing {
    /*about is unique because it is always open*/
    position: absolute;
    height: 100vh;
    width: 85vw;
    overflow-y: scroll;
    overflow-x: visible;
    /* padding: 5em; */
}

.about-landing>h1{
    color: rgba(255, 255, 255, 0.5);
}

.about-landing>img {
    width: 100vw;
    height: auto;
}

.fullscreen-text {
    margin: 90vh 0 0 0;
    display: inline-block;
    height: auto;

   /* display: none; */
}

.fullscreen-text:hover {
    display: fixed;
    mix-blend-mode: multiply;
}

/* CHAPTER PAGES */

.chapter {
    transition: 0.5s;
    width: 3%;
    box-shadow: -0.5em 0em 0.75em rgba(41, 41, 41, 1);
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;

}

.chapter .splash-screen-img{
    filter: blur(0.5em) grayscale(75%);
}

.chapter:hover .splash-screen-img{
    filter: blur(0em) grayscale(0%);
}

.chapter>h1 {
    visibility: hidden;
    color: rgba(255, 255, 255, 0.589);
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    padding: 0.25em;
}

.chapter:hover>h1 {
    visibility: visible;
}

.chapter>h2 {
    visibility: hidden;
}

.chapter:hover>h2 {
    color: rgba(255, 255, 255, 0.589);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.closed{
    width: 3% !important;
}

#hover{
    width: 30%;
}

#open{
    width: 88%;

}

#partial-open{
    /* width: calc(100% - (30 + (5*3))); */
    width: 61%;
}

/* PAGES - Z-INDEX */
.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}


/* BACKGROUNDS */
.about-gradient {
    background-image: linear-gradient(white, black);
    transition: 0.5s ease-in-out;
}

.origins-gradient {
    background-image: linear-gradient(white, black);
    transition: 0.5s ease-in-out;
}

.origins-gradient:hover {
    background-image: linear-gradient(white, #EB4927);
}

.motivations-gradient {
    background-image: linear-gradient(white,black);
    transition: 0.5s ease-in-out;
}

.motivations-gradient:hover {
    background-image: linear-gradient(white,#1540C4);
}

.profiles-gradient {
    background-image: linear-gradient(white, black);
    transition: 0.5s ease-in-out;
}

.profiles-gradient:hover {
    background-image: linear-gradient(white, #3BA7C9);
}

.outcomes-gradient {
    background-image: linear-gradient(white, black);
    transition: 0.5s ease-in-out;
}

.outcomes-gradient:hover {
    background-image: linear-gradient(white, #E23CAD);
}

.cost-gradient {
    background-image: linear-gradient(white, black);
    transition: 0.5s ease-in-out;
}

.cost-gradient:hover {
    background-image: linear-gradient(white,#662D91);
}





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}