/*TEMPORARY STYLES */
.temp-red {
    border: 3px solid red;
}

/* .parallax{
  border: 3px solid red;  
  background: blue;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/tmp/origins/01.png);
} */
/* LOAD FONTS */

@font-face {
    font-family: fa;
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}


/* GLOBAL CUSTOM VARIABLES */
:root {
    --gradeient-falloff: 70%;
    --start-padding: 10px;
    --open-width: 90%;
    --partial-width: 62%;
}

/*GENERAL HTML */
html {
    scroll-behavior: smooth;
}

/* SCROLLBAR */



::-webkit-scrollbar {
    /* width: 0.75em; */
    display: none;
}

/* TEXT STYLES */

body {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9.5em;
    line-height: 1em;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5em;
}

h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    color: black;
}


.text-orange {
    color: #EB4927;
}

.text-blue {
    color: #1540C4;
}

.text-teal {
    color: #3BA7C9;
}

.text-pink {
    color: #E23CAD;
}

.text-purple {
    color: #662D91;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.handwriting {
    font-family: 'Caveat', cursive;
}

/* DECORATION, COLOR, CASE */
.upper {
    /* bootstrap already has: text-uppercase */
    text-transform: uppercase;
}

.white {
    color: rgba(255, 255, 255, 1);
}

.blend {
    mix-blend-mode: difference;

}

/* LANDING STYLES */


/* PAGES */
/* main { */
/* position: absolute; */
/* height: 100vh; */
/* width: 100vw;
    overflow-y: scroll;
    overflow-x: scroll; */
/* } */

/* CHAPTER PAGES */
.chapter {
    /* transition: width 1s ease-in-out; */
    /* box-shadow: -0.5em 0em 0.75em rgba(41, 41, 41, 1); */
    position: relative;
    height: auto;
    border: 1px solid white;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;
    /* border: 3px solid red; */
}

.chapter h1 {
    width: 86vw;
    height: 100%;
    display: inline-block;
    transition: 1s ease-in-out;
}

.chapter:hover h2 {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100vh;
}

.chapter-title {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    color: rgba(255, 255, 255, 0);
}

#hover .chapter-title {
    color: white;
}

.chapter-summary {
    color: rgba(255, 255, 255, 0);
    pointer-events: none;
    padding: var(--start-padding);
}

.inner-chapter {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /* padding: 1%; */
}

.inner-chapter>div {
    width: 90vw;
}

.inner-chapter>div>img {
    max-width: 100%;
    height: auto;

}


/* CLOSED, HOVER, AND OPEN STYLING */

#closed {
    width: 2%;
    height: 100vh;
    overflow: hidden;



}

/* MAKE THIS MORE SPECIFIC! VVVVV */

#closed .chapter-title,
.chapter-summary {
    color: rgba(255, 255, 255, 0);
    transition: 1s ease-in-out;
}

#closed h2 {
    color: rgba(255, 255, 255, 0);
    transition: 1s ease-in-out;
    width: 100%;
}



#hover {
    width: 30%;
    height: 100vh;
    overflow: hidden;
}

#hover h1 {
    color: #0000;
}

#open {
    width: var(--open-width);
}

#open .chapter-summary {
    color: white;

}

#open h1 {
    display: inline-block;
}

#open .chapter-title {
    pointer-events: none;
    padding: var(--start-padding);
    color: rgba(255, 255, 255, 0);
}

#open h2 {

    transition: 1s ease-in-out;
}

#partial-open {
    width: var(--partial-width);
}

#partial-open h2 {
    color: white;
    transition: 1s ease-in-out;
    width: var(--partial-width);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#partial-open h1 {}


/* PAGES - Z-INDEX */
.z-1 {
    z-index: -1;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

/* 
LIGHTBOX IMAGES WIP LIGHTBOX IMAGES WIP 
LIGHTBOX IMAGES WIP LIGHTBOX IMAGES WIP */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
} */

/* Modal Content (image) */
/* .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
} */

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
/* .modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
} */

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* LIGHTBOX END */

/* BACKGROUNDS */
/* .website-background {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%
} */


.section {
    width: 100%;
    padding-top: 10vh;
    margin-bottom: 50vh;
    pointer-events: none;

}

.solid-white {
    background: white;
    pointer-events: auto;
}

/* BACKGROUND COVER IMAGES */
.bk {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

.bk>* {
    backdrop-filter: grayscale(1);
    transition: filter 1s ease-in-out;
}

#closed>* {
    filter: grayscale(1);
    backdrop-filter: grayscale(1) blur(5px);
}

.about-img {
    background-image: url("../img/Headers/about.jpg");
}

.origins-img {
    background-image: url("../img/Headers/origins.jpg");
}

.motivations-img {
    background-image: url("../img/Headers/motivations.jpg");

}

.profiles-img {
    background-image: url("../img/Headers/profiles.jpg");
}

.outcomes-img {
    background-image: url("../img/Headers/outcomes.jpg");
}

.cost-img {
    background-image: url("../img/Headers/cost.jpg");
}

/* BACKGROUND GRADIENTS */

.gradient {
    /* transition: 1s ease-in-out; */
    min-height: 100%;
    max-height: 100%;
}



.about-g {
    background: #0000;
    /* background-image: linear-gradient(#0000 var(--gradeient-falloff), white); */

}

.origins-g {
    background: #eb48279f;
    /* background-image: linear-gradient(#eb48279f var(--gradeient-falloff), white); */
}

.motivations-g {
    background: #1541c469;
    /* background-image: linear-gradient(#1541c469 var(--gradeient-falloff), white); */
}

.profiles-g {
    background: #3ba8c977;
    /* background-image: linear-gradient(#3ba8c977 var(--gradeient-falloff), white); */
}


.outcomes-g {
    background: #e23cad80;
    /* background-image: linear-gradient(#e23cad80 var(--gradeient-falloff), white); */

}

.cost-g {
    background: #662d9183;
    /* background-image: linear-gradient(#662d9183 var(--gradeient-falloff), white); */
}

/* BUTTONS */
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 0%);
}

/* TOOLTIPS */
.template {
    display: none;
}

.tooltip {
    position: absolute;
    margin: 0;
    padding: 10px 10px 10px 20px;
    background: #fff;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 50%);
    opacity: 1;
}

.side-color {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ccc;
    height: 100%;
    width: 10px;
}

.tooltip h3 {
    margin-bottom: 0;
    font-weight: 700;
}

.tooltip p {
    margin-bottom: 0;
    font-size: 0.7rem;
}

.tooltip .text-label {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
}


/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
.scrollytelling {}

.outcomes-map-theme {
    color: #fafafa;
    background-color: rgb(224, 135, 220);

}

.motivations-map-theme {
    color: #fafafa;
    background-color: rgb(135, 156, 224);
}


.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 57vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.step {
    padding-bottom: 50vh;
    opacity: 0;
    transition: 0.5s;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

#map {
    position: fixed;
    top: 0vh;
    /* bottom: 0; */
    width: 90%;
    height: 110%;
    z-index: -1;
    transition: 1s;
    pointer-events: auto;
}

#story {
    /* pointer-events: auto; */
}


/* Medium devices (tablets, 768px and up) */
/*IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD */
/*IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD */
/*IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD  IPAD */
@media (max-width: 1400px) {

    h1 {
        font-size: 5.5em;
    }

    #open {
        width: 85%;
    }

    #closed {
        width: 3%;
    }

    #partial-open {
        width: 58%;
    }

    .inner-chapter>img {
        width: 85vw;
        padding: var(--start-padding);
    }

}


/*IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE*/
/*IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE*/
/*IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE IPHONE*/

@media(max-width: 576px) {

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 1em;
    }

    .chapter {
        height: 5vh !important;
        width: 100vw !important;
        /* transition: 1s ease-in-out !important; */


    }

    #closed h2 {
        color: white;
    }

    #open {
        height: 75vh !important;
    }

    .chapter-title {
        position: absolute;
        justify-content: left;
        align-items: top;
        display: inline-block;
        height: 100vh;
        color: rgba(255, 255, 255, 0);
    }
}


/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
} */

/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}





/* NEW LAYOUT STYLE */
/* 
#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    transition: 1s ease-in-out;
}

#wrapper>* {
    flex: 0 0 2vw;
    transition: flex-basis 0.3s linear;
    border: 1px solid black;
}

#wrapper>div:hover {
    flex: 1 1 33vw;
    transition: 1s ease-in-out;
}

#wrapper>#open {
    flex: 1 1 5vw;
    transition: 1s ease-in-out;
}

#wrapper>#closed {
    transition: 1s ease-in-out;
}

#wrapper>div[tabindex]:focus {
    flex: 1 1 250px;

}

.closed{
}

.partial-closed{
    width: 10vw;
}

 */