/* LOAD FONTS */

@font-face {
    font-family: fa;
    src: url();
}

@font-face {
    font-family: '';
    src: url();
}


/* GLOBAL CUSTOM VARIABLES */
:root {
    --gradeient-falloff: 70%;
    --start-padding: 10px;
    --transition-speed: 1s ease-in-out;
    --open: 85vw;
    --closed: 2vw;
    --partial-open: 50vw;
    --partial-closed: 40vw;
    --blur-on: grayscale(1) blur(10px);
    --blur-off: grayscale(1) blur(0px);
    --filters-off: grayscale(0) blur(0px);
    --background-image-height: 100vh;
}

/*GENERAL HTML */
html {
    scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    display: none;
}

/* TEXT STYLES */

body {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 9.5em;
    line-height: 1em;
}

h2 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5em;
}

h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
    color: black;
}


.text-orange {
    color: #EB4927;
}

.text-blue {
    color: #1540C4;
}

.text-teal {
    color: #3BA7C9;
}

.text-pink {
    color: #E23CAD;
}

.text-purple {
    color: #662D91;
}

.text-white {
    color: #fff;
}


.text-black {
    color: #000;
}

/* ADDED THESE BECAUSE THE OTHERS HAVE SOME !iMPORTANT THING HAPPENING ON LOAD? */
.white {
    color: white;
}

.black {
    color: black;
}



.handwriting {
    font-family: 'Caveat', cursive;
}

/* NEW LAYOUT STYLE */

#wrapper {
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    transition: var(--transition-speed);
    border: 5px solid red;
}

#wrapper>* {
    flex: 1 1 var(--closed);
    transition: var(--transition-speed);
    border: 2px solid white;
}

#wrapper>section:hover {
    /* flex-grow: 8; */
    flex: 0 0 var(--partial-closed);
    transition: var(--transition-speed);
}


#wrapper>#open {
    /* flex-grow: 3; */
    flex: 0 0 var(--partial-open);
    transition: var(--transition-speed);
    filter: var(--filters-off);
}


#wrapper>#open:hover {
    flex: 0 0 var(--open);
    transition: var(--transition-speed);

}

#wrapper>#closed>* {
    transition: var(--transition-speed);
    filter: var(--blur-on);
}

#wrapper>#closed:hover>* {
    transition: var(--transition-speed);
    filter: var(--filters-off);
}

#wrapper>#open>*{
}

/* DECORATION, COLOR, CASE */
.chapter {
    height: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}

.chapter-title {
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    text-transform: uppercase;
    /* pointer-events: none; */
    transition: var(--transition-speed);
    /* background: rgba(0, 0, 0, 0.3); */

}

.chapter#closed .chapter-title{
    position: relative;
    width: 100%;
    height: 100%;
}

.chapter#open .chapter-title {
    width: var(--partial-open);
}

.chapter#open:hover .chapter-title {
    /* border: 3px solid white; */
    /* background: rgba(238, 130, 238, 0.705); */
}

.chapter#closed .chapter-title {
    width: var(--partial-closed);
    color: rgba(255, 255, 255, 0);
}

.chapter#closed:hover .chapter-title {
    color: white;
}


section:hover .chapter {
    height: auto;
}

section#open:not(hover) .chapter-title {
    transition: var(--transition-speed);
}

section#open:hover .chapter-title {
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    transition: var(--transition-speed);
    width: var(--open);
}

.chapter-summary {
    color: rgba(255, 255, 255, 0);
    width: 50vw;
    height: 100vh;
    pointer-events: none;
    padding: var(--start-padding);
    text-transform: uppercase;
    transition: var(--transition-speed);
}


section:hover .chapter-summary {
    color: white;
}

.section {
    width: var(--partial-open);
    /* padding-top: 10vh; */
    /* margin-bottom: 50vh; */
    pointer-events: none;
    border: 3px solid purple;
    position: fixed;
    top: 0;
    
}

/* BACKGROUND IMAGES */
.bk {
    height: 100vh;
    width:var(--open);
}

.about-img::before {
    background-image: url("../img/Headers/about.jpg");
    content: '';
    position: absolute;
    width: var(--open);;
    height: var(--background-image-height);
    filter: var(--blur-off);   
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255,255,255,0);
}

.origins-img::before {
    background-image: url("../img/Headers/origins.jpg");
    content: '';
    position: absolute;
    width: var(--open);;
    height: var(--background-image-height);
    filter: var(--blur-off);  
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255,255,255,0);
}

.motivations-img::before {
    background-image: url("../img/Headers/motivations.jpg");
    content: '';
    position: absolute;
    width: var(--open);;
    height: var(--background-image-height);
    filter: var(--blur-off);  
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255,255,255,0);
}

.profiles-img::before {
    background-image: url("../img/Headers/profiles.jpg");
    content: '';
    position: absolute;
    width: var(--open);;
    height: var(--background-image-height);
    filter: var(--blur-off);  
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255,255,255,0);
}

.outcomes-img::before {
    background-image: url("../img/Headers/outcomes.jpg");
    content: '';
    position: absolute;
    width: var(--open);;
    height: var(--background-image-height);
    filter: var(--blur-off);  
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255,255,255,0);
}

.cost-img::before {
    background-image: url("../img/Headers/cost.jpg");
    content: '';
    position: absolute;
    width: var(--open);;
    height: var(--background-image-height);
    filter: var(--blur-off);  
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rbga(255,255,255,0);

}

/* BACKGROUND GRADIENTS */

.gradient {
    width: var(--open);
    height: 100vh;
    backdrop-filter: var(--blur-on);
    pointer-events: none;
    transition: var(--transition-speed);
}

.chapter:hover .gradient{
    backdrop-filter: var(--filters-off);
}

.chapter:hover .about-g {
    background: rgba(0, 0, 0, 0);

}

.chapter:hover .origins-g {
    background: #eb48279f !important;
}

.chapter:hover .motivations-g {
    background: #1541c469;
}

.chapter:hover .profiles-g {
    background: #3ba8c977;
}


.chapter:hover .outcomes-g {
    background: #e23cad80;

}

.chapter:hover .cost-g {
    background: #662d9183;
}

/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
/* MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX MAPBOX */
.scrollytelling {}

.outcomes-map-theme {
    color: #fafafa;
    background-color: rgb(224, 135, 220);

}

.motivations-map-theme {
    color: #fafafa;
    background-color: rgb(135, 156, 224);
}


.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 57vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.step {
    padding-bottom: 50vh;
    opacity: 0;
    transition: 0.5s;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

#map {
    position: absolute;
    /* border: 3px solid red; */
    /* top: 500px; */
    /* bottom: 0; */
    width: var(--open);
    height: 100vh;
    /* z-index: -1; */
    transition: 1s;
    pointer-events: auto;
}

#story {
    /* pointer-events: auto; */
}
